[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sudospawner = "*"
notebook = "==7.2.1"
psycopg2-binary = "*"
pandas = "*"
matplotlib = "*"
pillow = "*"
geopy = "*"
rasterio = "*"
contextily = "*"
geopandas = "*"
seaborn = "*"
folium = "*"
ipywidgets = "*"
shapely = "*"
scipy = "*"
ipython = "*"
lorem = "*"
mapclassify = "*"
plotly = "*"
voila = "*"
configurable-http-proxy = "*"
jupyterlab = "==4.2.3"
sqlalchemy = "*"
env-canada = "*"
nest-asyncio = "*"
tabula-py = "*"
psutil = "*"
geocoder = "*"
wordcloud = "*"
requests-oauthlib = "*"
jinja2 = "*"
geoalchemy2 = "*"
chart-studio = "*"
jupyter = "*"
jenkspy = "*"
scikit-learn = "*"
bokeh = "*"
astropy = "*"
centerline = "*"
xlsxwriter = "*"
colour = "*"
sphinx-gallery = "*"
altair = "*"
statsmodels = "*"
nbconvert = "*"
fiona = "*"
descartes = "*"
baseband = "*"
cython = "*"
hyperopt = "*"
bs4 = "*"
lxml = "*"
kaleido = "*"
momepy = "*"
pyvis = "*"
osmnx = "*"
selenium = "*"
networkx = "*"
jupyterhub = "==5.0.0"
shap = "*"
holoviews = "*"
pandas-bokeh = "*"
pyarrow = "*"
openpyxl = "*"
fuzzywuzzy = "*"
dash = "*"
jupyterhub-systemdspawner = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.10"
