# Jupyterhub Environment Packages
psycopg2
psycopg
pandas
matplotlib
pillow
geopy
#i011
python-docx
#pinned because of a dependency issue, this is otherwise not deliberately installer
#rasterio==1.3.10
#contextily
r5py
esda
#pysal # tobler sub-package requires rasterio which requires GDAL >= 3.5
geopandas
seaborn
folium
ipywidgets
shapely
scipy
lorem
mapclassify
plotly
voila
sqlalchemy
nest-asyncio
tabula-py
psutil
geocoder
wordcloud
requests-oauthlib
jinja2
geoalchemy2
chart-studio
jenkspy
scikit-learn
bokeh
astropy
centerline
xlsxwriter
colour
sphinx-gallery
altair
statsmodels
fiona
descartes
baseband
cython
hyperopt
bs4
lxml
kaleido
momepy
pyvis
osmnx
selenium
networkx
shap
holoviews
pandas-bokeh
pyarrow
openpyxl
fuzzywuzzy
graphviz
ipyleaflet==0.19.2
pip-tools
great_tables #i018

# Jupyter
jupyterlab==4.2.7
jupyter
jupyterhub==5.1.0
jupyterhub-systemdspawner
jupyter-book==1.0.4
sudospawner
notebook==7.2.2
configurable-http-proxy
nbconvert
ipython
jupyter-resource-usage


# sqlfluff
sqlfluff==3.3.1
