# Jupyterhub Environment Packages
psycopg2-binary
pandas
matplotlib
pillow
geopy
#pinned because of a dependency issue, this is otherwise not deliberately installer
#rasterio==1.3.10
#contextily
geopandas
seaborn
folium
ipywidgets
shapely
scipy
lorem
mapclassify
plotly
voila
sqlalchemy
env-canada
nest-asyncio
tabula-py
psutil
geocoder
wordcloud
requests-oauthlib
jinja2
geoalchemy2
chart-studio
jenkspy
scikit-learn
bokeh
astropy
centerline
xlsxwriter
colour
sphinx-gallery
altair
statsmodels
fiona
descartes
baseband
cython
hyperopt
bs4
lxml
kaleido
momepy
pyvis
osmnx
selenium
networkx
shap
holoviews
pandas-bokeh
pyarrow
openpyxl
fuzzywuzzy
dash
graphviz
ipyleaflet==0.19.2
pip-tools

# Jupyter
jupyterlab==4.2.3
jupyter
jupyterhub==5.0.0
jupyterhub-systemdspawner
jupyter-book
sudospawner
notebook==7.2.1
configurable-http-proxy
nbconvert
ipython

# sqlfluff
sqlfluff==3.2.5
